<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:${ModuleNameLower}="http://www.mulesoft.org/schema/mule/${ModuleNameLower}"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion}/mule.xsd
       http://www.mulesoft.org/schema/mule/${ModuleNameLower} http://www.mulesoft.org/schema/mule/${ModuleNameLower}/${MuleMajorMinorVersion}/mule-${ModuleNameLower}.xsd">

    <${ModuleNameLower}:connector name="${ModuleNameLower}Connector">
        <!-- TODO Add connector specific properties here and then assert that 
             they have been set in org.mule.transport.${ModuleNameLower}.${ModuleName}NamespaceHandlerTestCase -->
    </${ModuleNameLower}:connector>
</mule>
