<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 * $Header$
 * $Revision$
 * $Date$
 *
 * Copyright (c) Jesper Steen Møller. All rights reserved.
 * http://www.selskabet.org/jesper/
 * 
 * The software in this package is published under the terms of the BSD
 * style license a copy of which has been included with this distribution in
 * the LICENSE.txt file.
-->

<plugin>

     <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.mule.ide.launching.config"
            icon="META-INF/icons/mule16.gif"
            id="org.mule.ide.launching.configTypeImage"/>
   </extension>
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.mule.ide.launching.ui.ConfigFileTabGroup"
            helpContextId="org.mule.ide.launching.tab_group"
            id="org.mule.ide.launching.configTabGroup"
            type="org.mule.ide.launching.config">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="%MuleLaunchTabGroupDescription.debug"
               mode="debug">
         </launchMode>
         <launchMode
               description="%MuleLaunchTabGroupDescription.run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>

</plugin>
