<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean name="spring2-Apple" class="org.mule.tck.testmodels.fruit.Apple">
    </bean>
    <bean name="spring2-Banana" class="org.mule.tck.testmodels.fruit.Banana">
    </bean>
    <bean name="Orange" class="org.mule.tck.testmodels.fruit.Orange">
        <property name="segments">
            <value>10</value>
        </property>
    </bean>
</beans>