#set($D = '$')
/*
 * ${D}Id${D}
 * --------------------------------------------------------------------------------------
 * Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
 *
 * The software in this package is published under the terms of the CPAL v1.0
 * license, a copy of which has been included with this distribution in the
 * LICENSE.txt file.
 */

#set($ModuleName = "${ModuleName.substring(0,1).toUpperCase()}${ModuleName.substring(1)}")
package org.mule.transport.${ModuleName.toLowerCase()};

import org.mule.api.transport.MuleMessageFactory;
import org.mule.transport.AbstractMuleMessageFactoryTestCase;

public class ${ModuleName}MuleMessageFactoryTestCase extends AbstractMuleMessageFactoryTestCase
{
    /* For general guidelines on writing transports see
       ${TransportDocumentationUrl} */

    @Override
    protected MuleMessageFactory doCreateMuleMessageFactory()
    {
        return new ${ModuleName}MuleMessageFactory(muleContext);
    }

    @Override
    protected Object getValidTransportMessage() throws Exception
    {
        // TODO create a transport message that can be used to test the extraction of payload
        return null;
    }
}
