#set($D = '$')
/*
 * ${D}Id${D}
 * --------------------------------------------------------------------------------------
 * Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
 *
 * The software in this package is published under the terms of the CPAL v1.0
 * license, a copy of which has been included with this distribution in the
 * LICENSE.txt file.
 */

package org.mule.transport.${ModuleNameLower}.transformers;

import org.mule.transformer.AbstractTransformerTestCase;
import org.mule.api.transformer.Transformer;
#if( $outboundTransformer != "n" || $inboundTransformer != "n" )
import org.mule.transformer.types.DataTypeFactory;
#end

public class ${ModuleName}TransformersTestCase extends AbstractTransformerTestCase
{
    /* For general guidelines on writing transports see
       ${TransportDocumentationUrl} */

    @Override
    public Object getTestData()
    {
        // TODO create a test data object that will be passed into the
        // transformer
        throw new UnsupportedOperationException("getTestData");
    }

    @Override
    public Object getResultData()
    {
        // TODO Return the result data expected once the getTestData()
        // value has been transformed
        throw new UnsupportedOperationException("getResultData");
    }

    @Override
    public Transformer getTransformer()
    {
#if( $inboundTransformer != "n")
        Transformer transformer = new ${inboundTransformer}();
        // Set the correct return class for this roundtrip test
        transformer.setReturnDataType(DataTypeFactory.create(this.getResultData().getClass()));
        return transformer;
#else
        // No Inbound transformer was created for this Transport
        return null;
#end
    }

    @Override
    public Transformer getRoundTripTransformer()
    {
#if( $outboundTransformer != "n")
        Transformer transformer = new ${outboundTransformer}();
        // Set the correct return class for this roundtrip test
        transformer.setReturnDataType(DataTypeFactory.create(this.getTestData().getClass()));
        return transformer;
#else
        // No Outbound transformer was created for this Transport
        return null;
#end
    }
}
