<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion}"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:vm="http://www.mulesoft.org/schema/mule/vm/${MuleMajorMinorVersion}"
       xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio/${MuleMajorMinorVersion}"
       xmlns:test="http://www.mulesoft.org/schema/mule/test/${MuleMajorMinorVersion}"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion} http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion}/mule.xsd
       http://www.mulesoft.org/schema/mule/vm/${MuleMajorMinorVersion} http://www.mulesoft.org/schema/mule/vm/${MuleMajorMinorVersion}/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/stdio/${MuleMajorMinorVersion} http://www.mulesoft.org/schema/mule/stdio/${MuleMajorMinorVersion}/mule-stdio.xsd
       http://www.mulesoft.org/schema/mule/test/${MuleMajorMinorVersion} http://www.mulesoft.org/schema/mule/test/${MuleMajorMinorVersion}/mule-test.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!--
    TODO: You can define a test configuration here then from the ${ModuleName}TestCase you can fire events into
    Mule (using the MuleClient) and then assert the results.
    -->
    <model name="main">

        <service name="testService">
            <inbound>
                <vm:inbound-endpoint path="in" synchronous="true"/>
            </inbound>

            <!-- TODO add your service component here. This can also be a Spring bean using <spring-object bean="name"/> -->
            <test:component appendString=" Received"/>

            <outbound>
                <pass-through-router>
                    <stdio:outbound-endpoint system="OUT"/>
                </pass-through-router>
            </outbound>
        </service>

    </model>

</mule>
