<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <custom-transformer name="AtoBConverter"
                        class="org.mule.test.transformers.GraphTransformerResolutionTestCase$AtoBConverter"/>

    <flow name="testFlow">
        <auto-transformer returnClass="org.mule.test.transformers.GraphTransformerResolutionTestCase$B"/>
    </flow>

    <flow name="flowWithTransformerDependency">
        <transformer ref="AtoBConverter" />
    </flow>


    <!-- This caused a StackOverflowException during app init before MULE-8913 -->
    <flow name="testExceptionHandlerWithTransformerInEndpointFlow">
        <test:component throwException="true"/>
        <exception-strategy ref="exceptionHandler" />
    </flow>

    <catch-exception-strategy name="exceptionHandler">
        <transformer ref="AtoBConverter" />
    </catch-exception-strategy>
</mule>
