core/objectstore
/ObjectStore
/classes
/.clover
/.classpath
*.classpath
/.project
*.project
target/
*.iml
*.ipr
*.iws
/.idea/
.DS_Store
/build.properties
/workspace
/.mule
/ActiveMQ
/xdocs
/*.log
*.settings
/svnmerge-commit-message.txt
/activemq-data
bin/
/modules/launcher/src/it/test-01-plugin-impl-1/build.log

.pom.xml.swp

examples/flight-reservation/.classpath

examples/flight-reservation/.project

examples/flight-reservation/.settings/org.eclipse.jdt.core.prefs

examples/foreach/.classpath

examples/foreach/.project

examples/foreach/.settings/org.eclipse.jdt.core.prefs
