core/objectstore
/ObjectStore
/classes
/.clover
/.classpath
/.project
target/
*.iml
*.ipr
*.iws
/.idea/
.DS_Store
/build.properties
/workspace
/.mule
/ActiveMQ
/xdocs
/*.log
/svnmerge-commit-message.txt
/activemq-data

/modules/launcher/src/it/test-01-plugin-impl-1/build.log

.pom.xml.swp

examples/flight-reservation/.classpath

examples/flight-reservation/.project

examples/flight-reservation/.settings/org.eclipse.jdt.core.prefs

examples/foreach/.classpath

examples/foreach/.project

*.factorypath

