<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
   <bean id="passwords" class="org.mule.extras.wssecurity.callbackhandlers.PasswordContainer">
       <constructor-arg>
           <props>
               <prop key="mulealias">mulepassword</prop>
               <prop key="gooduser">goodUserPassword</prop>
           </props>
       </constructor-arg>
   </bean>
</beans>
