<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
      xmlns:ss="http://www.springframework.org/schema/security"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

       http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
       http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


    <spring:beans>

        <mule-ss:security-manager>
            <mule-ss:delegate-security-provider name="memory-dao" delegate-ref="authenticationManager"/>
        </mule-ss:security-manager>

        <ss:authentication-manager alias="authenticationManager">
            <ss:authentication-provider>
                <ss:user-service id="userService">
                    <ss:user name="joe" password="secret" authorities="ROLE_ADMIN" />
                    <ss:user name="anon" password="anon" authorities="ROLE_ANON" />
                </ss:user-service>
            </ss:authentication-provider>
        </ss:authentication-manager>

    </spring:beans>

    <cxf:ws-security name="outboundConfig">
        <cxf:ws-config>
            <cxf:property key="action" value="UsernameToken"/>
            <cxf:property key="user" value="joe"/>
            <cxf:property key="passwordType" value="PasswordText"/>
            <cxf:property key="passwordCallbackClass" value="org.mule.runtime.module.cxf.wssec.ClientPasswordCallback"/>
        </cxf:ws-config>
    </cxf:ws-security>

    <cxf:ws-security name="inboundConfig">
        <cxf:mule-security-manager/>
        <cxf:ws-config>
            <cxf:property key="action" value="UsernameToken"/>
        </cxf:ws-config>
    </cxf:ws-security>


</mule>
