<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <AsyncRoot level="info">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>