#set($D = '$')
/*
 * ${D}Id${D}
 * --------------------------------------------------------------------------------------
 * Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
 *
 * The software in this package is published under the terms of the CPAL v1.0
 * license, a copy of which has been included with this distribution in the
 * LICENSE.txt file.
 */

package org.mule.transport.${ModuleNameLower};

import org.mule.api.endpoint.MalformedEndpointException;
import org.mule.endpoint.AbstractEndpointURIBuilder;

import java.net.URI;
import java.util.Properties;

/**
 * <code>${ModuleName}EndpointURIBuilder</code> TODO Document
 */
public class ${ModuleName}EndpointURIBuilder extends AbstractEndpointURIBuilder
{
    @Override
    protected void setEndpoint(URI uri, Properties props) throws MalformedEndpointException
    {
        /* IMPLEMENTATION NOTE: This method should set the this.address
           variable to the endpoint value to be retruned when calling
           MuleEndpointURI.getAddress().  Mule uses this portion to pass to
           the underlying technology */

        // TODO extract the endpoint config from the uri

        throw new UnsupportedOperationException("setEndpoint");
    }
}
