#set($D = '$')
/*
 * ${D}Id${D}
 * --------------------------------------------------------------------------------------
 * Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
 *
 * The software in this package is published under the terms of the CPAL v1.0
 * license, a copy of which has been included with this distribution in the
 * LICENSE.txt file.
 */

package org.mule.transport.${ModuleNameLower}.transformers;

import org.mule.transformer.AbstractMessageTransformer;
import org.mule.api.MuleMessage;
import org.mule.api.transformer.TransformerException;

/**
 * <code>${inboundTransformer}</code> TODO Document
 */
public class ${inboundTransformer} extends AbstractMessageTransformer
{

    /* For general guidelines on writing transports see
       ${TransportDocumentationUrl} */

    public ${inboundTransformer}()
    {
        /* IMPLEMENTATION NOTE: Here you can set default types that the
           transformer will accept at runtime.  Mule will then validate the
           transformer at runtime. You can register one or more source
           types. eg.

            registerSourceType(XXX.class.getName());
        */

        /* IMPLEMENTATION NOTE: It's good practice to set the expected return
           type for this transformer here This helps Mule validate event flows
           and Transformer chains

            setReturnDataType(DataTypeFactory.create(YYY.class);
        */

    }

    @Override
    public Object transformMessage(MuleMessage message, String outputEncoding) throws TransformerException
    {
        // TODO Transform the payload of message here. See comments in {@link AbstractMessageAwareTransformer}

        // Make sure you return a transformed object that matches the
        // returnClass type

        throw new UnsupportedOperationException("transform");
    }
}
