#set($D = '$')
/*
 * ${D}Id${D}
 * --------------------------------------------------------------------------------------
 * Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
 *
 * The software in this package is published under the terms of the CPAL v1.0
 * license, a copy of which has been included with this distribution in the
 * LICENSE.txt file.
 */

package org.mule.transport.${ModuleNameLower};

import org.mule.api.transaction.TransactionException;
import org.mule.api.transaction.Transaction;
import org.mule.api.transaction.TransactionFactory;
import org.mule.api.MuleContext;

/**
 * <code>${ModuleName}TransactionFactory</code> Creates a
 * ${ModuleName}Transaction
 *
 * @see ${ModuleName}Transaction
 */
public class ${ModuleName}TransactionFactory implements TransactionFactory
{
    /* For general guidelines on writing transports see
       ${TransportDocumentationUrl} */

    public Transaction beginTransaction(MuleContext muleContext) throws TransactionException
    {
        ${ModuleName}Transaction tx = new ${ModuleName}Transaction(muleContext);
        tx.begin();
        return tx;
    }

    public boolean isTransacted()
    {
        return true;
    }
}
