<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

   <modelVersion>4.0.0</modelVersion>
   <groupId>${groupId}</groupId>
   <artifactId>${artifactId}</artifactId>
   <packaging>jar</packaging>
   <name>Mule ${ModuleName} ${ModuleType}</name>
   <version>${version}</version>
   <description>${description}</description>
   <url>http://www.muleforge.org/projects/${shortId}</url>

      <properties>
           <mule.version>${MuleVersion}</mule.version>
           #if($license.id)
           <licenseId>${license.id}</licenseId>
           <licenseUrl>${license.url}</licenseUrl>
           #end
           <!-- Tools properties -->
           <eclipsePluginVersion>2.5</eclipsePluginVersion>
           <vmtype>org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType</vmtype>
           <jdk5Name>jdk5</jdk5Name>
           <jdk.version>1.5</jdk.version>
       </properties>

       #if($license.id)
       <licenses>
           <license>
               <name>${licenseId}</name>
               <url>${licenseUrl}</url>
               <distribution>repo</distribution>
           </license>
       </licenses>
       #end

    <build>
        <extensions>
            <extension>
                <groupId>org.apache.maven.wagon</groupId>
                <artifactId>wagon-webdav</artifactId>
                <version>1.0-beta-2</version>
            </extension>
        </extensions>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <configuration>
                    <source>1.5</source>
                    <target>1.5</target>
                    <encoding>ISO-8859-1</encoding>
                </configuration>
            </plugin>

    #if($forgeProject == "y")
            <!-- Responsible for creating the release distribution for this project -->
            <plugin>
                <artifactId>maven-assembly-plugin</artifactId>
                <configuration>
                    <finalName>${artifactId}-${version}</finalName>
                    <descriptors>
                        <descriptor>assembly.xml</descriptor>
                    </descriptors>
                    <appendAssemblyId>false</appendAssemblyId>
                </configuration>
            </plugin>

            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-release-plugin</artifactId>
                <version>2.0-beta-7</version>
                <configuration>
                    <!-- We only do this at release time. However, before doing a
                        release of your project and deploying it you nedd to run 'mvn assembly:assembly' and check that
                        the distribution is created correctly -->
                    <preparationGoals>assembly:assembly</preparationGoals>
                </configuration>
            </plugin>

            <!-- Used for deploying zip and tar.gz  distributions to MuleForge. Called using:
           mvn muleforge:deploy-distro-->
            <plugin>
                <groupId>org.mule.tools</groupId>
                <artifactId>maven-muleforge-plugin</artifactId>
                <version>1.0</version>
                <executions>
                    <execution>
                        <id>upload-muleforge-artifacts</id>
                        <phase>deploy</phase>
                        <goals>
                            <!-- Attached to the deploy lifecycle this plugin is Used for deploying any config schemas
                        for this module or transport -->
                            <goal>deploy-schema</goal>
                            <!-- Attached to the deploy lifecycle this plugin is Used for deploying the projects
                            distribution archives (generated from the assembly.xml descriptor) -->
                            <goal>deploy-distro</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
       #end
        </plugins>
    </build>


    <!-- plugins for creating site reports -->
    <reporting>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-eclipse-plugin</artifactId>
                <version>${eclipsePluginVersion}</version>
                <configuration>
                    <!-- by default download all sources when generating project files -->
                    <downloadSources>true</downloadSources>
                    <classpathContainers>
                        <classpathContainer>org.eclipse.jdt.launching.JRE_CONTAINER/${vmtype}/${jdk5Name}
                        </classpathContainer>
                    </classpathContainers>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-idea-plugin</artifactId>
                <configuration>
                    <downloadSources>true</downloadSources>
                    <jdkName>${jdk.version}</jdkName>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <configuration>
                    <source>${jdk.version}</source>
                    <target>${jdk.version}</target>
                    <encoding>ISO-8859-1</encoding>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-javadoc-plugin</artifactId>
                <configuration>
                    <source>${jdk.version}</source>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-report-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-checkstyle-plugin</artifactId>
                <configuration>
                    <configLocation>http://mulesource.org/download/attachments/92/checkstyle.xml?version=1
                    </configLocation>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-pmd-plugin</artifactId>
                <configuration>
                    <targetJdk>${jdk.version}</targetJdk>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>cobertura-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>taglist-maven-plugin</artifactId>
                <configuration>
                    <tags>
                        <tag>TODO</tag>
                        <tag>@todo</tag>
                        <tag>FIXME</tag>
                        <tag>@fixme</tag>
                        <tag>@deprecated</tag>
                    </tags>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-jxr-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-javadoc-plugin</artifactId>
                <configuration>
                    <links>
                        <link>http://java.sun.com/j2ee/1.4/docs/api</link>
                        <link>http://java.sun.com/j2se/1.4.2/docs/api</link>
                        <link>http://java.sun.com/j2se/1.5.0/docs/api</link>
                    </links>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>jdepend-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>findbugs-maven-plugin</artifactId>
            </plugin>
        </plugins>
    </reporting>

    <!-- Mule Dependencies -->
    <dependencies>
        <!-- Mule Modules: You will need to add and remove as necessary -->
        <dependency>
            <groupId>org.mule</groupId>
            <artifactId>mule-core</artifactId>
            <version>${mule.version}</version>
        </dependency>
        <!-- Xml configuration -->
        <dependency>
            <groupId>org.mule.modules</groupId>
            <artifactId>mule-module-spring-config</artifactId>
            <version>${mule.version}</version>
        </dependency>

        <!-- Mule Transports -->

        #set($emailDepSet = false)
        #set($sslDepSet = false)
        #set($httpDepSet = false)
        #set($jettyDepSet = false)
        #set($rmiDepSet = false)
        #foreach($item in $transportArray)
          #if($item == 'smtp' || $item == 'smtps' || $item == 'pop3' || $item == 'pop3s' || $item == 'imap' || $item == 'imaps')
            #if($emailDepSet == false)
        <dependency>
            <groupId>org.mule.transports</groupId>
            <artifactId>mule-transport-email</artifactId>
            <version>${mule.version}</version>
        </dependency>
              #set($emailDepSet = true)
            #end
          #elseif($item == 'ssl' || $item == 'tls')
            #if($sslDepSet == false)
        <dependency>
            <groupId>org.mule.transports</groupId>
            <artifactId>mule-transport-ssl</artifactId>
            <version>${mule.version}</version>
        </dependency>
              #set($sslDepSet = true)
            #end
          #elseif($item == 'http' || $item == 'https')
            #if($httpDepSet == false)
        <dependency>
            <groupId>org.mule.transports</groupId>
            <artifactId>mule-transport-http</artifactId>
            <version>${mule.version}</version>
        </dependency>
              #set($httpDepSet = true)
            #end
          #elseif($item == 'jetty' || $item == 'jetty-ssl')
            #if($jettyDepSet == false)
        <dependency>
            <groupId>org.mule.transports</groupId>
            <artifactId>mule-transport-jetty</artifactId>
            <version>${mule.version}</version>
        </dependency>
              #set($jettyDepSet = true)
            #end
          #elseif($item == 'rmi' || $item == 'jnp')
            #if($rmiDepSet == false)
        <dependency>
            <groupId>org.mule.transports</groupId>
            <artifactId>mule-transport-rmi</artifactId>
            <version>${mule.version}</version>
        </dependency>
              #set($rmiDepSet = true)
            #end
          #else
        <dependency>
            <groupId>org.mule.transports</groupId>
            <artifactId>mule-transport-${item}</artifactId>
            <version>${mule.version}</version>
        </dependency>
          #end
        #end
        <!-- Mule Modules -->

        #foreach($item in $moduleArray)
        <dependency>
            <groupId>org.mule.modules</groupId>
            <artifactId>mule-module-${item}</artifactId>
            <version>${mule.version}</version>
        </dependency>

        #end

        <!-- for testing -->
        <dependency>
            <groupId>org.mule.tests</groupId>
            <artifactId>mule-tests-functional</artifactId>
            <version>${mule.version}</version>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>mockobjects</groupId>
            <artifactId>mockobjects-core</artifactId>
            <version>0.09</version>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>junit</groupId>
            <artifactId>junit</artifactId>
            <version>3.8.2</version>
            <scope>test</scope>
        </dependency>
    </dependencies>

    #if($forgeProject == "y")
    <!-- Mule Forge Configuration -->
    <issueManagement>
        <system>Jira</system>
        <url>http://www.mulesource.org/jira/browse/${ModuleName.toUpperCase()}</url>
    </issueManagement>

    <scm>
        <connection>scm:svn:http://svn.muleforge.org/${ModuleNameLower}/</connection>
        <developerConnection>scm:svn:https://svn.muleforge.org/${ModuleNameLower}/</developerConnection>
        <tag>HEAD</tag>
        <url>http://svn.${ModuleNameLower}.muleforge.org/</url>
    </scm>


    <ciManagement>
        <system>Bamboo</system>
        <url>http://bamboo.muleforge.org/browse/${ModuleName.toUpperCase()}-FORGE</url>
        <notifiers/>
    </ciManagement>

    <distributionManagement>
        <repository>
            <id>muleforge.webdav.releases</id>
            <url>dav:https://dav.muleforge.org/repository/${ModuleNameLower}/</url>
        </repository>
        <snapshotRepository>
            <id>muleforge.webdav.snapshots</id>
            <url>dav:https://dav.muleforge.org/snapshots.repository/${ModuleNameLower}/</url>
        </snapshotRepository>
        <site>
            <id>muleforge.webdav.sites</id>
            <url>dav:https://dav.muleforge.org/${ModuleNameLower}</url>
        </site>
    </distributionManagement>

    <!-- End of MuleForge Configuration -->
    #end
    <repositories>
        <repository>
            <id>muleforge-repo</id>
            <name>MuleForge Repository</name>
            <url>http://repository.muleforge.org</url>
            <layout>default</layout>
        </repository>

        <repository>
            <id>codehaus-repo</id>
            <name>Codehaus Repository</name>
            <url>http://dist.codehaus.org/mule/dependencies/maven2</url>
            <layout>default</layout>
        </repository>
        #if($forgeProject == "y")
        <repository>
            <!-- local repository for this forge project. Users can upload dependencies here when the artifact
                 is not available on any other repository. Its the users' responsibility to make sure that no
                 licenses are violated by uploading dependencies to this location
            -->
            <id>${ModuleNameLower}-deps</id>
            <name>${ModuleName} Dependencies</name>
            <url>http://dist.muleforge.org/${artifactId}/dependencies/maven2</url>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
        </repository>
        #end
    </repositories>

</project>
