#* Common variables for all archetypes *#
#if($transportId != "")
  #set($ModuleName = "$transportId")
#else
  #set($ModuleName = "$artifactId")
#end
#set($ModuleName = $ModuleName.replaceAll("[-_!@#$%^&*()+:; ]", ""))
#set($ModuleName = "${ModuleName.substring(0,1).toUpperCase()}${ModuleName.substring(1)}")
#set($ModuleNameLower = "${ModuleName.toLowerCase()}")
#set($MuleVersion = "$muleVersion")

#set($MuleMajorMinorVersion = "$MuleVersion.substring(0, 3)")

#set($transports = $transports.replaceAll(" ", ""))
#set($modules = $modules.replaceAll(" ", ""))

#if($transports.indexOf("vm") == -1)
  #set($transports = "$transports,vm")
#end

#if($transports.indexOf("stdio") == -1)
  #set($transports = "$transports,stdio")
#end
#set( $transportArray = $transports.split(",") )

#if($modules.indexOf("client") == -1)
  #set($modules = "$modules,client")
#end
#set( $moduleArray = $modules.split(",") )

#* Setting specifict to this archetype *#
#set($package = "org/mule/transport")
#set($groupId = "org.mule.transports")
#set($artifactId = "mule-transport-${ModuleNameLower}")
#set($ModuleType = "Transport")

#if($newProject == "n")
  #set($description = "TODO")
#end
WELCOME
=======
#if($newProject == "y")
Congratulations you have just created a new Mule transport!
#else
Congratulations you have just added some new features to your ${ModuleName} transport!
#end

This wizard created a number of new classes and resources useful for Mule transports.  Each of the created files
contains documentation and _todo_ items where necessary.  You'll need to look at each of the classes and other files and
address the _todo_ items in the files. Here is an overview of what was created.

#if($newProject == "y")
./pom.xml:
A maven project descriptor that describes how to build this project.  If you enabled this project for the
MuleForge, this file will contain additional information about the project on MuleForge.

./assembly.xml:
A maven assembly descriptor that defines how this project will be packaged when you make a release.

./LICENSE.txt:
The open source license text for this project.

#if($forgeProject == "y")
./wiki-template.txt:
This is a skeletal wiki page that you can use to start off the documentation for your project.  the content here can
be cut n' pasted directly into the homepage of your project on MuleForge (Use the Edit menu at the bottom right of the
homepage to add this content).
You don't need to use this template if you'd prefer to write in your own style :)
#end

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/i18n/${ModuleName}Messages.java:

The ${ModuleName}Messages java class contains methods for access i18n messages embedded in your java code.

-----------------------------------------------------------------
./src/main/resources/META-INF/services/org/mule/i18n/${ModuleNameLower}-messages.properties

These message properties contain i18n strings used by ${ModuleName}Messages.java.


-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}Connector.java

The connector for this transport. This is used for configuing common properties on endpoints for this transport
and initialising shared resources.

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}EndpointURIBuilder.java

The class responsible for parsing custom endpoints for this transport.

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}InboundTransformer.java

This transformer should convert the inbound message into a type consumable by Mule.  For example, in the case of JMS this
class would would convert a JMSMessage to a String, object, Map, etc depending on the time of message.  If your transport
does not have a specific message type you do not need this class (see ${ModuleName}MessageAdapter).

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}OutboundTransformer.java

This transformer should convert the otbound message into a type supported by the underlying technology.  For example,
in the case of JMS this class would would convert a MuleMessage to a JMSMessage.  If your transport
does not have a specific message type you do not need this class.
#end

#if($hasCustomMessageAdapter == "y")
-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}MessageAdapter.java

This class is used to wrap inbound messages and access the data in the message in a unified way.  The MessageAdapter provides
access to the payload, message headers and attachments.
#end

#if($hasDispatcher == "y")
-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}MessageDispatcher.java

This part of the transport responsible for outbound endpoints (client).  This class should implement the logic needed to
dispatch messages over the underlying transport.

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}MessageDispatcherFactory.java

The factory used to create ${ModuleName}MessageDispatcher instances.
#end
#if($hasReceiver == "y")
-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}MessageReceiver.java

This part of the transport responsible for inbound endpoints.  This class should implement the logic need to
receive messages from the underlying transport.  Mule supports polling receivers, that pull events from the transport, but
users can implement listener interfaces to have events pushed to the receiver.
#if($hasTransactions == "y")
-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}TransactedMessageReceiver.java

This class should implement the logic need to receive messages from the underlying transport using a transaction.
If the underlying transport does not support Transactions, this receiver is not required.
#end
#end
#if($hasRequestor == "y")
-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}MessageRequester.java

This part of the transport responsible for making individual requests to receive an event from the transport.  This class
should implement the logic needed to make this type of request via the transport.

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}MessageRequesterFactory.java

The factory used to create ${ModuleName}MessageRequester instances.
#end
#if($hasTransactions == "y")
-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}Transaction.java

If the underlying transport supports transactions, this class wraps the transaction so that it can be accessed by Mule.

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/${ModuleName}TransactionFactory.java

The factory used to create ${ModuleName}Transaction instances.
#end

#if($hasBootstrap == "y")
-----------------------------------------------------------------
./src/main/resources/META-INF/services/org/mule/config/registry-bootstrap.properties

This file contains key value pairs of objects that will be stored in the Mule registry when this module is loaded.  These
objects are useful for loading module objects such as transformers or expression evaluators that you want to make
available inside the Mule context automatically.
These properties are defined in the form of: "objectName=fully qualified class name".
#end

#if($hasCustomSchema == "y")
-----------------------------------------------------------------
./src/main/resources/META-INF/mule-${ModuleNameLower}.xsd

The configuration schema file for this module. All configuration elements should be defined in this schema.

-----------------------------------------------------------------
./src/main/resources/META-INF/spring.schemas

Contains a mapping of the Namespace URI for this projects schema.

-----------------------------------------------------------------
./src/main/resources/META-INF/spring.handlers

Contains a mapping of the namespace handler to use for the schema in this project.

-----------------------------------------------------------------
./src/main/java/${package}/${ModuleNameLower}/config/${ModuleName}NamespaceHandler.java

The implmentation of the namespace handler used to parse elements defined in mule-${ModuleNameLower}.xsd.
#end

TESTING
=======

This  project also contains test classes that can be run as part of a test suite.
#if($newProject == "y")
-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}TestCase.java

This is an example functional test case.  The test will work as is, but you need to configure it to actually test your
code.  For more information about testing see: http://www.mulesource.org/display/MULE2USER/Functional+Testing.

-----------------------------------------------------------------
./src/test/resources/${ModuleNameLower}-functional-test-config.xml

Defines the Mule configuration for the ${ModuleName}TestCase.java.

-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}ConnectorTestCase.java

The unit test case for testing the connecotr object for this transport.

-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}EndpointTestCase.java

The unit test case for testing the endpoint builder object for this transport.
#end
#if($hasCustomMessageAdapter == "y")
-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}MessageAdapterTestCase.java

The test case for testing the custom message adapter for this transport.
#end

#if($hasReceiver == "y")
-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}MessageReceiverTestCase.java

The unit test case for testing the message receiver object for this transport.
#end

#if($inboundTransformer == "y" || $outboundTransformer == "y")
-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}TransformersTestCase.java

The unit test case for testing the transformer object for this transport. This test will perform a
full round trip test is there are corresponding inbound and outbound transformers.
#end
#if($hasCustomSchema == "y")
-----------------------------------------------------------------
./src/test/java/${package}/${ModuleNameLower}/${ModuleName}NamespaceHandlerTestCase.java

A test case that is used to test each of the configuration elements inside your mule-${ModuleNameLower}.xsd schema file.

-----------------------------------------------------------------
./src/test/resources/${ModuleNameLower}-namespace-config.xml

The configuration file for the ${ModuleName}NamespaceHandlerTestCase.java testcase.
#end


ADDITIONAL RESOURCES
====================
Everything you need to know about getting started with Mule can be found here:
http://www.mulesource.org/display/MULE2INTRO/Home

There further useful information about extending Mule here:
http://mule.mulesource.org/display/MULE2USER/Introduction+to+Extending+Mule

We recommend you read the page on writing Mule transports if you have not done so already:
http://mule.mulesource.org/display/MULE2USER/Creating+Transports

There is also detailed information about creating Mule configuration schemas here:
http://mule.mulesource.org/display/MULE2USER/Creating+a+Custom+XML+Namespace

For information about working with Mule inside and IDE with maven can be found here:
http://www.mulesource.org/display/MULE2INTRO/Setting+Up+Eclipse

Remember if you get stuck you can try getting help on the Mule user list:
http://www.mulesource.org/display/MULE/Mailing+Lists

Also, MuleSource, the company behind Mule, offers 24x7 support options:
http://www.mulesource.com/services/subscriptions.php

Enjoy your Mule ride!

The Mule Team

--------------------------------------------------------------------
This project was auto-generated by the mule-transport-archetype.

artifactId=${artifactId}
description=${description}
muleVersion=${muleVersion}
hasCustomSchema=${hasCustomSchema}
hasReceiver=${hasReceiver}
hasDispatcher=${hasDispatcher}
hasRequestor=${hasRequestor}
hasCustomMessageAdapter=${hasCustomMessageAdapter}
hasBootstrap=${hasBootstrap}
hasTransactions=${hasTransactions}
hasCustomTransactions=${hasCustomTransactions}
inboundTransformer=${inboundTransformer}
outboundTransformer=${outboundTransformer}
ModuleType=${ModuleType}
forgeProject=${forgeProject}
transports=${transports}
modules=${modules}

version=${version}
groupId=${groupId}
basedir=${basedir}
--------------------------------------------------------------------