/target
/.classpath
/.project
/test
/bin
/.mule
/ActiveMQ
/*.iml
/*.iws
/*.ipr
/.fbprefs
/.fbwarnings
/*.log
/*.log.1
/temp
/.settings
/cobertura.ser
/activemq-data
/FirstWrite
/SecondWrite
/muleEmbeddedDB
dbname.h2.db