/*
 * $Id$
 * --------------------------------------------------------------------------------------
 * Copyright (c) MuleSource, Inc.  All rights reserved.  http://www.mulesource.com
 *
 * The software in this package is published under the terms of the CPAL v1.0
 * license, a copy of which has been included with this distribution in the
 * LICENSE.txt file.
 */

package org.mule.providers.${TransportNameLower};

import org.mule.umo.TransactionException;
import org.mule.umo.UMOTransaction;
import org.mule.umo.UMOTransactionFactory;
import org.mule.umo.UMOManagementContext;

/**
 * <code>${TransportName}TransactionFactory</code> Creates a
 * ${TransportName}Transaction
 *
 * @see ${TransportName}Transaction
 */
public class ${TransportName}TransactionFactory implements UMOTransactionFactory
{

    /* For general guidelines on writing transports see
       http://mule.mulesource.org/display/MULE/Writing+Transports */

    public UMOTransaction beginTransaction(UMOManagementContext managementContext) throws TransactionException
    {
        ${TransportName}Transaction tx = new ${TransportName}Transaction();
        tx.begin();
        return tx;
    }

    public boolean isTransacted()
    {
        return true;
    }

}
