<!--
Assembly descriptor for the full distribution.
-->
<assembly>
    <id>${ModuleName}</id>
    <formats>
        <format>zip</format>
        <format>tar.gz</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>src</directory>
            <outputDirectory>src</outputDirectory>
        </fileSet>
        <!-- If a licenses directory is present, copy it.  this would contain text files describing the licenses for each
             non-Mule dependencies -->
        <fileSet>
            <directory>licenses</directory>
            <outputDirectory>licenses</outputDirectory>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>lib/user</outputDirectory>
            <scope>runtime</scope>
            <!-- Include only the non-Mule libraries needed by your application -->
            <includes>
                <!-- Make sure we include this project's artifact -->
                <include>${groupId}:${artifactId}</include>

                <!--
                Add any 3rd party libraries here.  Note you can use wildcards i.e.
                <include>net.sf.someproject:*</include>
                -->
            </includes>

        </dependencySet>
    </dependencySets>
</assembly>