#include( "template/header.html" )

<h1>MuleDoc index</h1>
<ul>
<p>
Find below the generated documentation for the given mule configuration files:
</p>
<br/>
<ul>
<table> 
#foreach( $file in $fileList ) 
    <tr><td align="right">$velocityCount .</td><td><a href="$file.Name">$file.Name</a></td></tr> 
#end 
</table>
</ul>
</ul>
#include( "template/footer.html" )
