<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<table>
    <tr>
        <td colspan="3" id="footer">
        <table width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">Mule ESB rocks !
                    </td>

                    <td align="right" valign="top"><a
                            style="color: rgb(153, 153, 153);"
                            href="http://www.muledocs.org/Config+Visualizer">[with MuleDocs]</a></td>
                </tr>
            </tbody>
        </table>
    </tr>
</table>
</body>
</html>