<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
       xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <spring:bean id="processEngine" factory-method="buildProcessEngine" class="org.mule.module.jbpm.JbpmFactoryBean" />

    <bpm:jbpm name="jbpm" processEngine-ref="processEngine" />
    
    <model>
        <service name="SimpleProcess">
            <inbound>
                <vm:inbound-endpoint path="simple" exchange-pattern="request-response"/>
            </inbound>
            <bpm:process processName="simple" processDefinition="simple-process.jpdl.xml" />
        </service>
    </model>
</mule>
