<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <spring:bean id="processEngine" factory-method="buildProcessEngine" class="org.mule.module.jbpm.JbpmFactoryBean" />

    <!--
       Deprecated: It is recommended to configure BPM as a component rather than a transport for 3.x
     -->
    <bpm:jbpm-connector name="bpmConnector" processEngine-ref="processEngine">
        <bpm:process-definition name="simple" resource="simple-process.jpdl.xml" />
    </bpm:jbpm-connector>
</mule>
