<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">


<module name="Checker">

    <!-- http://checkstyle.sf.net/config_javadoc.html#PackageHtml -->
    <!-- <module name="PackageHtml"/> maybe -->

    <!-- http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile"/>

    <!-- http://checkstyle.sf.net/config_misc.html#Translation -->
    <module name="Translation"/>

    <module name="TreeWalker">

        <!-- <property name="cacheFile" value="${checkstyle.cache.file}"/> -->

        <property name="tabWidth" value="4"/>

        <!-- http://checkstyle.sf.net/config_javadoc.html -->
        <!--<module name="JavadocMethod"/>-->
        <!--<module name="JavadocType"/>-->
        <!--<module name="JavadocVariable"/>-->


        <!-- http://checkstyle.sf.net/config_naming.html -->
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="MemberName"/>

        <!-- http://checkstyle.sf.net/config_import.html -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>


        <!-- http://checkstyle.sf.net/config_sizes.html -->
        <module name="FileLength"/>
        <module name="ParameterNumber"/>

        <!-- http://checkstyle.sf.net/config_whitespace.html -->
        <module name="EmptyForIteratorPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <!--<module name="OperatorWrap"/>-->
        <module name="TabCharacter"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>


        <!-- http://checkstyle.sf.net/config_modifiers.html -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- http://checkstyle.sf.net/config_blocks.html -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="NeedBraces"/>
        <module name="LeftCurly">
          <property name="option" value="nl"/>
        </module>
        <module name="RightCurly">
          <property name="option" value="alone"/>
        </module>

        <!-- http://checkstyle.sf.net/config_coding.html -->
        <!--<module name="AvoidInlineConditionals"/>-->
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <!--<module name="HiddenField"/>-->
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="RedundantThrows"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>

        <!-- http://checkstyle.sf.net/config_design.html -->
        <!--<module name="DesignForExtension"/>-->
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>

        <!-- http://checkstyle.sf.net/config_misc.html -->
        <module name="TodoComment"/>
        <module name="UpperEll"/>

        <!-- http://checkstyle.sourceforge.net/config_header.html -->
        <module name="Header">
            <property name="headerFile" value="${checkstyle.header.file}"/>
            <property name="ignoreLines" value="2"/>
        </module>
    </module>

</module>
