<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://mule.org/schema" 
       class = "org.mule.schema.SchemaPackage"
       genModel = "model/mule.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="schema" 
       class="org.mule.schema.util.SchemaResourceFactoryImpl" />
  </extension>

</plugin>

