table {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #cccccc;
  }
caption {
  text-align: center;
  font: bold 18px arial, helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #03476F;
  text-transform: uppercase;
  }
td, th {
  /*border: 1px dotted #03476F;*/
  padding: .4em;
  /*color: #363636;*/
  }

thead th, tfoot th {
  font: bold 11px verdana, arial, helvetica, sans-serif;
  border: 1px solid #03476F;;
  text-align: left;
  background: #4591AD;
  color: #FFFFFF;
  padding-top:3px;
  }
d a {
  background: transparent;
  text-decoration: none;
  color: #363636;
  }
td a:hover {
  background: #C2F64D;
  color: #363636;
  }
th a {
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  color: #363636;
  }
th a:hover {
  background: transparent;
  color: #363636;
  }
th, tbody td {
  vertical-align: top;
  text-align: left;
  }
tfoot td {
  border: 1px solid #03476F;
  background: #4591AD;
  padding-top:3px;
  color: #FFFFFF;
  }

tr:hover {
  background: #666666;
  border: 1px solid #03476F;
  color: #FFFFFF;
  }

.trace {
    background: #00ccFF;
}
.info {
    
}

.warn {
    background: #FFD800;
}

.error {
    background: #cc0033;
    color: white;
}

.fatal {
    background: #000000;
    color: white;
}