<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
#foreach($item in $transportArray)
      xmlns:${item}="http://www.mulesoft.org/schema/mule/${item}"
#end
#foreach($item in $moduleArray)
#if($item == "xml")
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
#elseif($item == "doc")
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
#else
      xmlns:${item}="http://www.mulesoft.org/schema/mule/${item}"
#end
#end
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion}/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/${MuleMajorMinorVersion}/mule-test.xsd
#foreach($item in $transportArray)
        http://www.mulesoft.org/schema/mule/${item} http://www.mulesoft.org/schema/mule/${item}/${MuleMajorMinorVersion}/mule-${item}.xsd
#end
#foreach($item in $moduleArray)
#if($item != "doc")
        http://www.mulesoft.org/schema/mule/${item} http://www.mulesoft.org/schema/mule/${item}/${MuleMajorMinorVersion}/mule-${item}.xsd
#end
#end
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--
    TODO: You can define a test configuration here then from the ${ModuleName}TestCase you can fire events into
    Mule (using the MuleClient) and then assert the results.
    -->
    <flow name="main">
        <vm:inbound-endpoint path="in"/>

        <!-- TODO add your service component here. This can also be a Spring bean using <spring-object bean="name"/> -->
        <test:component appendString=" Received"/>

        <vm:outbound-endpoint path="out"/>
    </flow>
</mule>
