<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
#foreach($item in $transportArray)
      xmlns:${item}="http://www.mulesoft.org/schema/mule/${item}"
#end
#foreach($item in $moduleArray)
#if($item == "xml")
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
#elseif($item == "doc")
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
#else
      xmlns:${item}="http://www.mulesoft.org/schema/mule/${item}"
#end
#end
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion}/mule.xsd
#foreach($item in $transportArray)
        http://www.mulesoft.org/schema/mule/${item} http://www.mulesoft.org/schema/mule/${item}/${MuleMajorMinorVersion}/mule-${item}.xsd
#end
#foreach($item in $moduleArray)
#if($item != "doc")
        http://www.mulesoft.org/schema/mule/${item} http://www.mulesoft.org/schema/mule/${item}/${MuleMajorMinorVersion}/mule-${item}.xsd
#end
#end
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <description>
    ${description}
    </description>

    <flow name="main">
        <vm:inbound-endpoint path="in" exchange-pattern="request-response"/>

        <!-- TODO add your service component here. This can also be a Spring bean using <spring-object bean="name"/> -->
        <echo-component/>

        <vm:outbound-endpoint path="out"/>
    </flow>
</mule>
